/* .icon {
    max-height: 20px;
    max-width: 20px;
} */
/* 
#edit-icon {
    background: url("./assets/edit.png") no-repeat;
}

#delete-icon {
    background: url("./assets/trashcan.png") no-repeat;
} */
